<!DOCTYPE html>
<html lang="en">
<head>       
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />   
<meta name="viewport" content="width=device-width, initial-scale=0.5">  

<link rel="stylesheet" type="text/css" href="static/jquery.mobile-1.4.5.min.css">
<script type="text/javascript" src="static/jquery.min.js"></script>
<script type="text/javascript" src="static/jquery.mobile-1.4.5.min.js"></script>
<script type="text/javascript" src="static/app.js"></script>
<style type="text/css">
	.ui-dialog-contain {
		margin: 20% auto 15px auto;
	}
</style>
</head>  
<body>
<div data-role="page" id="home" data-theme="b">
	<div data-role="header" data-position="fixed">
		<a href="javascript:history.go(-1)" data-role="button">返回</a>
		<h1>确认关机</h1>
	</div>

	<div data-role="content" data-theme="b">
		<input id="shutdowntime" type="text" name="sdtime"  placeholder="关机时间">
		<a href="#" data-role="button" onclick="ajaxShutdown()">关机</a>
	</div>
	
	<div data-role="footer" data-position="fixed" data-theme="b">
  

	</div>
</div>
	
</body>
</html>