<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>关机</title>
	<link rel="stylesheet" type="text/css" href="static/jquery.mobile-1.4.5.min.css">
	<script type="text/javascript" src="static/jquery.min.js"></script>
	<script type="text/javascript" src="static/jquery.mobile-1.4.5.min.js"></script>
	<script type="text/javascript" src="static/app.js"></script>
	<style type="text/css">
		.ui-dialog-contain {
			margin: 20% auto 15px auto;
		}
	</style>
</head>
<body>
<div data-role="page" id="home" data-theme="b">
	<div data-role="header" data-position="fixed">

	</div>

	<div data-role="content" data-theme="b">
		<a href="#" data-role="button" onclick="ajaxShutdown()">关机</a>
	</div>
	
	<div data-role="footer" data-position="fixed" data-theme="b">
  

	</div>
</div>
	
</body>
</html>